.UdemyCard{
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}

.UdemyCards {
  max-width: 260px;
  line-height: 20px;
}

.bigTitle {
  padding-left: 30px;
}

.title {
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.presenter {
  color: gray;
  font-size: 12px;
}

.score {
  color: gold;
  font-weight: bold;
  font-size: 18px;
}

.ratings {
  color: darkslategray;
}

.newPrice {
  font-weight: bold;
}

.oldPrice {
  text-decoration: line-through;
}

.bestseller {
  background-color: rgb(236, 235, 152);
  width: fit-content;
  font-size: 13px;
  font-weight: bold;
}